@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-dvh bg-neutral-50 text-neutral-800 antialiased dark:bg-neutral-800 dark:text-neutral-50;

    font-family: "Inter", sans-serif;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.PopoverContent {
  padding: 0;
  width: var(--radix-popover-trigger-width);
  max-height: var(--radix-popover-content-available-height);
}
